html,
body,
.head,
.wrapper,
.services,
.centered-content,
.ready,
.work,
.news,
.theHam,
.gallery,
.footer {
    overflow-x: hidden;
}

@media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }
  @media screen and (max-width: 1199px) {
    .container {
      width: 100%;
      padding: 0 20px;
    }
  }
  .head {
    background-image: url('img/cover1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
 .menu {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    justify-content: space-around;
    white-space: nowrap;
    height: 80px;
    left: calc(50% - 1920px/2);
    top: 0px;
    background: rgba(94, 93, 88, 0.6);
 }        
 .menu-link {
    padding-left: 21px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: right;
text-transform: uppercase;
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
 }
.menu-link:hover{
  color: #18CFAB;
}

 .box {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: right;
text-transform: uppercase;
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
margin-right: 180px;
 }
 .title {
    text-align: center;
    margin: 234px auto 0px;
 }
 .title1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 1px;
text-transform: uppercase;
color: #FFFFFF;
 }
 .title2 {
  margin-top: 57px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 78px;
line-height: 1px;
text-transform: uppercase;
color: #FFFFFF;
 }
 .title3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 1px;
color: #D4D4D4;
margin-top: 79px;
 }
 .buttons {
  padding-bottom: 240px;
  margin: 30px, auto;
  display: flex;
  justify-content: space-around;  align-items: center;
}
.button {
  
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #18CFAB;
  color: #FFFFFF;
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin: 50px 5px 10px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;

}
 .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px;
 }
 .wrapper-item1 {
  padding-top: 70px;
  align-items: center;
text-align: center;
text-transform: uppercase;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
background: #1C2A33; 
color: #18CFAB;
 }
 .wrapper-item2 {
  padding-top: 70px;
  align-items: center;
text-align: center;
text-transform: uppercase;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
background: #18CFAB; 
color: #FFFFFF;
 }
 .services {
  align-items: center;
  text-align: center;
 }
 .icon {
  padding-top: 28px;
 }
 .heading {
  text-align: center;
  margin: 84px auto 0px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
align-items: center;
color: #4E4E4E;
 }
.centered-content {
  list-style: none;
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs-title {
  text-align: center;
  align-items: center;
  width: 195px;
  height: 76px;
  background-color: white;
  color:#717171;
  cursor: pointer;
  line-height: 76px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15.9859px;
  }
  .tabs-title:hover {
    border: 1.5px solid #18CFAB;

  }
.tabs-title.active {
  background-color:#18CFAB;
  color: white;
}
.tabs-content {
  padding: 23px 208px 90px;
}
.content-img {
  width: 192px;
height: 139px;
  float: left;
  padding-right: 15px;
}
.content-text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 13.645px;
line-height: 24px;
color: #777777;
}
.ready {
  background-image: url('img/cover2.png');
  width: auto;
height: 476px;
align-items: center;
text-align: center;
}
.ready-text1 {
  padding-top: 126px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
color: #18CFAB;
}
.ready-text2 {
  padding-top: 12px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #D8D8D8;
margin-bottom: 83px;
}
.work {
background-color: #E9EDEF;
  width: auto;
max-height: 100%;
  overflow: auto;
align-items: center;
text-align: center;

}
.work-tabs {
  border: 1px solid #DADADA;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;  
  align-items: center;
  color: #717171;
  list-style: none;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  padding: 12px 25px;
}
.work-tabs:hover {
  border: #18CFAB solid 2px;
}
.work-images {
  padding-top: 71px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
  grid-template-rows: 211px 211px 211px;

  
}
.news {
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}
.news-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; 
    margin: 0 auto; 
    overflow-x: hidden;

  padding-top: 100px;
  justify-content: center;
  align-items: center;

  gap: 35px;
}
.news-title {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 17.9885px;
line-height: 39px;
align-items: center;
text-align: center;
text-decoration: none;
color: #717171;
}
.news-box {
  position: relative;
}
.news-comments {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 13.991px;
line-height: 39px;
align-items: center;
text-align: center;
text-decoration: none;
color: #777777;
}
.data-box {
  top: 0;
  right: 0;
  position: absolute;
  width: 70px;
height: 68px;
background: #203E38;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 34px;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.data-box.hover{
  background: #18CFAB;
}
.news-title.hover {
  color: #18CFAB;
}
.theHam {
  margin-top: 130px;
width: auto;
height: 853px;
background-image: url(img/cover3.png);
justify-content: center;
align-items: center;
text-align: center;
}
.theHam-title {
  padding-top: 98px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;  
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.theHam-text {
  padding-top: 36px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
color: #BBBBBB;
}
.theHam-name {
  padding-top: 37px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #18CFAB;
}
.theHam-profession {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: #BBBBBB;
}

.main-img {
  width: 143px;
height: 142px;
  margin-top: 38px;
  border-radius: 50%;
  border: 12px solid rgba(31, 218, 181, 0.2);
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.carousel {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.images {
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.images img {
  width: 60px;
height: 59px;
  margin-top: 38px;
  border-radius: 50%;
  border: 3px solid rgba(31, 218, 181, 0.2);
}

.images img:hover {
  transform: translateY(-5px);
}

.arrow {
  width: 33px;
height: 34px;
background: #18CFAB;
  font-size: 30px;
  font-weight: bold;
  margin: 0 20px;
  cursor: pointer;
  user-select: none;
}


@media (max-width: 768px) {
  .images img {
    width: 100px;
    height: 70px;
  }
  
  .arrow {
    font-size: 20px;
  }
}

.hidden {
  display: none;
}

.gallery {
background-color: white;
max-width: 100%; 
    overflow-x: hidden;
    height: 1212px;
align-items: center;
text-align: center;
margin-bottom: 50px;
overflow: hidden;
}

.gallery-wrapper1 {
  overflow-x: hidden;
  align-items: center;
text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 263px 77px 73px 54px 100px 250px;
  gap: 20px;
  }

  .gallery1{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .gallery2 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .gallery3 {
    grid-column: 1/2;
    grid-row: 2/5;
  }
  .gallery4 {
    grid-column: 2/3;
    grid-row: 3/6;
  }
  .gallery5 {
    grid-column: 1/2;
    grid-row: 5/7;
  }
  .gallery6 {
    grid-column: 3/4;
    grid-row: 4/7;
  }
  .gallery7 {
    grid-column: 2/3;
    grid-row: 6/8;
  }
  .gallery8{
    width: 378px;
    height: 465px;
    grid-column: 3/4;
  grid-row: 1/4;
  }

  .footer{
width: auto;
align-items: center;
text-align: center;
height: 121px;
background: #22353F;
  }
  .footer-text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 121px;
color: #AEAEAE;
  }
  .footer-link {
    text-decoration: none;
    color: rgba(24, 207, 171, 1)
    ;
  }